/* find-host, not working write to the find-host section, so I put it outside */
.R.HM.D>.LH {
    background: _pinecc;
    border: none;
    border-radius: 1px;
    backdrop-filter: blur(1.5px);
    color: _text;
}

/* #ui */
.HUD,
.TEE {
    padding: 0;
    bottom: 1px;
}

@media screen and (min-width: 1260px) {
    .Omnibar {
       left: calc(20vw - 12px);
       width: calc(60vw + 24px); 
    }
}
@media screen and (min-width: 1760px) {
    .Omnibar {
       left: calc(30vw - 12px);
       width: calc(40vw + 24px); 
    }
}

/* #omni */
#bar {
    background: #1f1d2e;

    border-bottom: none;
}

#list {
    background: _base;
}

#input {
    background: _base;

    box-shadow: none;
}

body::after {
    border: none;
}

.item {
    border-bottom: none;
    padding-top: 0px;
    cursor: pointer;


    display: flex;
    align-items: center;
    justify-content: space-between;
}

.item.s,
.item:hover {
    background-color: _highlightHigh;
}

.top {
    color: _text;

}

.bottom {
    width: 20rem;
    overflow: hidden;
}

.bottom>a {
    font-size: .7rem;
}

#toolbar {
    display: none;
}

/* #find */

.r.D {
    background: _base;
    color: _text;
}

.r {
    box-shadow: inset 0 0 1px 0.5px _iris;
}

/* #find:host */



/* #find:selection */
::selection {
    background: #ea9d34 !important;
    color: _text;
}